[submodule "Library/glm"]
	path = Library/glm
	url = https://github.com/g-truc/glm.git
[submodule "Library/ObjectiveGL"]
	path = Library/ObjectiveGL
	url = http://git.code.oa.com/CameraToolsGroup/ObjectiveGL.git
